/*******************************************
Css reset
********************************************/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
ul ,ol{
    padding: 0;
}
body{
	font-family: 'IRANSans';
    direction: rtl;
    color:#212121;
    font-size:1rem;
}
a{
    color:#212121;
    TEXT-DECORATION:none;
    cursor:pointer;
}
ul,li{
    display: inline-block;
}
button{
    border: none;
    background-color: #fafafa;
}