@media (max-width: 1147px){

    .search-input-header {
        width: 100%;
    }
    .search-container{
        width: 0;
    }
    .my-col-4{
        width:50% ;
    }
    .width-280{
        width: 25%;
    }
}
@media (max-width: 768px) {

    .my-col-4{
        width:100% ;
    }
    .nav-container{
        flex-direction: column;
        align-items: center;
    }
    .font-size-14 {
        font-size: 0.75rem;
    }
    .mobile-header{
        display: flex;
    }
    .first-header{
        display: none;
    }
    .list-btn-mobile-menu{
        font-size: 2.5rem;
        height: 2.75rem;
    }
}
@media (max-width: 576px){
    .main-section-container{
        flex-direction: column;
    }
    .width-280{
        width: 100%;
    }
    .last-items-footer{
        justify-content: center;
    }
    .card-container{
        width: 100%;
        padding-right:1rem ;
    }

}
